spring:
  application:
    name: berkut-app

  datasource:
    url: jdbc:postgresql://localhost:5432/berkut-app
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
      continue-on-error: false
  jpa:
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    change-log: classpath:/db/changelog/app-changelog.yaml
    default-schema: berkut